{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign IN {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <main>

    {% include 'includes/preloader.html' %}

    <!-- Section -->
    <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark"
             data-background="{{ ASSETS_ROOT }}/img/pages/pexels.jpg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div
                class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
              <div class="text-center text-md-center mb-4 mt-md-0">
                <h1 class="mb-0 h3">
                  Restaurant - Login
                </h1>
                <br/>
                <span class="font-weight-normal">
                                    {% if msg %}
                                      {{ msg | safe }}
                                    {% else %}
                                      Input your credentials
                                    {% endif %}                                  
                                </span>
              </div>
              <form method="post" action="{% url 'accounts:login' %}" class="mt-4">

                {% csrf_token %}
                <!-- Form -->
                <div class="form-group mb-4">
                  <label for="email">Username</label>
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon3"><span class="fas fa-envelope"></span></span>
                    {{ form.username }}
                  </div>
                  <span class="text-error">{{ form.email.errors }}</span>
                </div>
                <!-- End of Form -->
                <div class="form-group">
                  <!-- Form -->
                  <div class="form-group mb-4">
                    <label for="password">Password</label>
                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon3"><span class="fas fa-envelope"></span></span>
                      {{ form.password }}
                    </div>
                    <span class="text-error">{{ form.password.errors }}</span>
                  </div>
                  <!-- End of Form -->
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div><a href="{% url 'accounts:register' %}" class="text-right">Register</a></div>
                  </div>
                </div>
                <div class="d-grid">
                  <input type="submit" value="Login" class="btn btn-primary"/>
                  <input type="hidden" name="next" value="{{ next }}"/>
                </div>
              </form>

              <br/>

            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
