

{% extends "layouts/base.html" %}

{% block title %} Ingredients {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <main>

    {% include 'includes/preloader.html' %}

    <!-- Hero -->
    <div class="section-header pb-6 bg-primary text-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 text-center">
            <h1 class="display-3 mb-4">Delete {{ cook.username }}</h1>
            <p class="lead mb-3">{{ cook.first_name }}</p>
            <p class="lead mb-3">{{ cook.last_name }}</p>
            {% comment %} <p class="lead mb-5">Price: {{ dish.price }}</p> {% endcomment %}
            <div class="alert bg-secondary" role="alert">
              <span class="fas fa-info-circle"></span>
              Are you sure?
            </div>
            <form action="" method="post">
              {% csrf_token %}
              <input type="submit" value="Yes" class="btn btn-danger">
              <a href="{% url 'accounts:cook-detail' pk=cook.id %}" class="btn btn-white link-to-page">No</a>
            </form>

          </div>
        </div>
      </div>
    </div>


    <!-- End of Hero -->

  </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}